body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.blog {
    padding: 100px 165px 120px;
    background-color: #b07cf7;
}
.title {
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
}
.subtitle {
    line-height: 1.47;
    font-size: 17px;
    margin-bottom: 47px;
    color: #fff;
    text-align: center;
    max-width: 563px;
    margin: 0 auto 47px;

}